/resource/2015-05.pdf
/resource/2015-11.pdf
/resource/2015-10.pdf
/resource/2016-04.pdf
/resource/2015-04.pdf
/resource/2015-09.pdf
/resource/2015-06.pdf
/resource/2016-02.pdf
/resource/2016-01.pdf
/resource/2015-03.pdf
/resource/2016-03.pdf
/resource/2015-12.pdf
/resource/mysql_schema/bill_scrapper.sql
/nbproject/private